.github/**
.vscode/**
.vscode-test/**
node_modules/**
models/
out/**
src/**
.gitignore
.eslintignore
esbuild.mjs
**/tsconfig.json
**/*.ts
**/*.config.*
**/.vscode-test.*
# Exclude JS and map files from root directory
/*.js
/*.map
